<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.zabapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
      android:name="com.zabapp.MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name="com.zabapp.MainActivity"
        android:exported="true"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
       <meta-data
     android:name="com.google.android.geo.API_KEY"
     android:value="AIzaSyBW6BdbQdOxjogLRmNSfgS4dR3LIXCSQ6M"/>
    </application>
</manifest>

<!-- AIzaSyBW6BdbQdOxjogLRmNSfgS4dR3LIXCSQ6M -->